.input {
  @apply w-full px-4 py-3 rounded-lg text-black focus:outline-none focus:ring-2 focus:ring-teal-400;
}

.animate-fade-in {
  animation: fade-in 0.8s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
