.trip-card {
  transition: 0.3s ease;
}

.trip-card:hover {
  transform: translateY(-6px);
}

.animate-fade-in {
  animation: fade-in 0.7s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Modal Animation */
.animate-modal {
  animation: pop 0.25s ease-out;
}

@keyframes pop {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Hide scrollbar but keep scroll */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  border-radius: 12px;
}
